

.cartContainer {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cartTitle {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.cartItem img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.itemDetails {
  flex-grow: 1;
}

.cartItem h3 {
  font-size: 18px;
  margin: 0;
  color: #333;
}

.cartItem p {
  font-size: 14px;
  margin: 5px 0;
  color: #666;
}

.cartItem button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cartItem button:hover {
  background-color: #c0392b;
}

.cartTotal {
  text-align: right;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
